.button {
    width: 100%;
    padding: 1rem .5rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &--proceed {
        color: #fff;
        margin-bottom: .875rem;
        font-weight: 700;
        border-radius: .5rem;
        background-color: $brightBlue;
        box-shadow: 0px 5px 30px -5px $brightBlue;

        &:active,
        &:focus {
            opacity: .8;
        }
    }

    &--cancel {
        color: $desaturedBlue;
        font-weight: 900;

        &:active,
        &:focus {
            color: $darkBlue;
        }
    }
}